Repository yadwy-app/yadwy-frontend-arc: changes, and which lefthook commands are due for each by the changed paths.
All: check, format, type-check

check:
  run: pnpm biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again

format:
  run: pnpm prettier --write "{staged_files}" && git update-index --again

type-check:
  run: pnpm checkts

fix : fixed conflects
  .gitignore~
  assets/css/tailwind.css~
  nuxt.config.ts~
  pages/product-details/_components/reviews-comments.vue~
  pages/product-details/_components/reviews.vue~
Due: none

fixed: fixed up navbar to make more response
  components/login-or-profile.vue
  components/navbar.vue
  components/navigation/desktop.vue
  components/navigation/mobile.vue
  components/search-product.vue
  components/shop-whislist.vue
  flake.nix
  layouts/default.vue
  nuxt.config.ts~
Due: none

fixed: fixed up navbar to make more response
  .gitignore~
  pages/index.vue~
  pages/product-details/[id].vue~
Due: none

Create netlify.toml
  netlify.toml
Due: none

Update netlify.toml
  netlify.toml
Due: none

feat: added the footer and change product images
  components/footer.vue
  layouts/default.vue
  pages/_components/new-artworks/index.vue
  pnpm-lock.yaml
Due: format

refactor navbar file structure
  components/login-or-profile.vue
  components/navbar.vue
  components/navigation/desktop.vue
  components/navigation/mobile.vue
  components/site/footer/index.vue
  components/site/navbar/index.vue
  components/site/navbar/login-or-profile.vue
  components/site/navbar/search-product.vue
  components/site/navbar/shop-wish-list.vue
  components/ui/input/Input.vue
  layouts/default.vue
  layouts/default.vue~
  pages/_components/footer/index.vue
Due: none

fix navbar
  README.md
  components/site/navbar/search-product.vue
  components/site/navbar/shop-wish-list.vue
  components/ui/select/SelectTrigger.vue
Due: format

rename category to home
  pages/_components/card.vue~
  pages/_components/hot-artworks/index.vue~
  pages/home/card.vue
  pages/home/categories/carousel.vue
  pages/home/categories/image-container.vue
  pages/home/categories/index.vue
  pages/home/categories/three-parts.vue
  pages/home/hero/hero.vue
  pages/home/hot-artworks/index.vue
  pages/home/nav-bar/index.vue
  pages/home/nav-bar/login-or-profile.vue
  pages/home/nav-bar/search-product.vue
  pages/home/nav-bar/shop-whislist.vue
  pages/home/new-artworks/index.vue
  pages/home/rating.vue
Due: none

refactor hero section
  pages/home/hero/hero.vue
  pages/index.vue
Due: none

update card & home page
  pages/_components/card.vue
  pages/_components/rating.vue
  pages/home/categories/carousel.vue
  pages/home/hot-artworks/index.vue
  pages/home/new-artworks/index.vue
  pages/index.vue
Due: none

fix card
  pages/_components/card.vue
  pages/home/hot-artworks/index.vue
  pages/home/new-artworks/index.vue
Due: none

fix card
  pages/_components/card/card.vue
  pages/_components/card/rating.vue
  pages/home/hot-artworks/index.vue
  pages/home/new-artworks/index.vue
Due: none

add footer markdown
  components/site/footer/index.vue
  layouts/default.vue
  nuxt.config.ts
Due: check, type-check

fix footer
  assets/css/tailwind.css
  assets/css/tailwind.css~
  components/site/footer/copy-right-.vue
  components/site/footer/index.vue
  components/site/footer/navlink.vue
  components/site/navbar/index.vue
  nuxt.config.ts
  pages/_components/card/card.vue
  pages/home/categories/carousel.vue
Due: check, format, type-check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format: any of: *.{css,scss,yaml,yml,md}
  type-check: any of: *.{ts,tsx}
